*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Poppins',sans-serif;

}

body{
  background: #070707;
  color: white;
  
  overflow-y: scroll;
  margin: 0;
}